object {
    color: #fff;
    font-size: 8px;
    font-family: nunito_sansregular;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    right: 1px;
    top: 20%;
    cursor: pointer;
}
img {
    width: 10px;
    margin: 5px -1px 0 0;
}
div {
    text-shadow: -1px 0px 4px #373434;
    cursor: pointer;
    float: left;
    font-family: nunito_sansregular;
}