.logo {
    position: absolute;
    left: calc(50% - 20px);
    top: 20px;
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%,100%;
    border-radius: 10px;
    border: dashed 1px #fff,0;
    border-bottom: 0;
    cursor: pointer;
}
[data-focus="off"] {
    background-image: var(--i),linear-gradient(to right, #210303, #210a0a, #221010, #231515, #241919, #241b19, #231d1a, #231f1c, #21201d, #1f211e, #1f2120, #202121);
}
.os {
    left: calc(50% - 65px);
}
.ic {
    left: calc(50% + 25px);
}
[data-focus="on"] {
    background-image: var(--i), linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.spaceman {
    position: absolute;
    bottom: 0;
    height: 182px;
    width: 295px;
    background-image: url(../../_content/OSIC.Shared.Layout/infomation/Spaceman.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    z-index: -1;
}

.spaceman[data-type="1"] {
    background-image: url(../../_content/OSIC.Shared.Layout/infomation/Spaceman1.svg);
}
.spaceman[data-type="2"] {
    background-image: url(../../_content/OSIC.Shared.Layout/infomation/Spaceman2.svg);
}
.title {
    position:absolute;
    top:75px;
    font-size:10.5px;
    text-align:center;
    color:#fff;
    width:100%;
}
.slogan {
    width: 100%;
    font-size: 8.5px;
    color: #fff;
    text-align: center;
}
::deep .ui-scroll {
    position: absolute;
    color: #fff;
    left: 1px;
    width: calc(100% - 2px);
    top: 95px;
    height: calc(100% - 95px);
}
.browser, .application {
    margin: 10px 0 0 0;
    text-align: center;
}
    .browser img {
        width: 20px;

        margin:4px;
    }
    .application img {
        width: 30px;
        margin: 4px;
    }