<OSIC.Shared.Layout.frame.Component Name="OSIC.Shared.Layout.infomation.Component">
    <Content>
        <object>
         <OSIC.Shared.Layout.ui.window.A4>
             <Content>
                    <OSIC.Shared.Layout.ui.window.close.Component Name="OSIC.Shared.Layout.infomation.Component" />
                    <div class="claims logo" style="--i:url('../../_content/OSIC.Shared.Layout/logo/Claims.png')" data-focus=@(InfomationHandler.Software==Project.Software.Claims?"on":"off") @onclick="()=>InfomationHandler.Open(Project.Software.Claims)"></div>
                    <div class="os logo" style="--i:url('../../_content/OSIC.Shared.Layout/logo/OS.png')" data-focus=@(InfomationHandler.Software==Project.Software.OBJECTSOCIAL?"on":"off") @onclick="()=>InfomationHandler.Open(Project.Software.OBJECTSOCIAL)"></div>
                    <div class="ic logo" style="--i:url('../../_content/OSIC.Shared.Layout/logo/IC.png')" data-focus=@(InfomationHandler.Software==Project.Software.InterConnecting?"on":"off") @onclick="()=>InfomationHandler.Open(Project.Software.InterConnecting)"></div>
                    <div class="title">@(InfomationHandler.Software switch { Project.Software.InterConnecting => "𝖨𝗇𝗍𝖾𝗋𝖢𝗈𝗇𝗇𝖾𝖼𝗍𝗂𝗇𝗀", Project.Software.OBJECTSOCIAL => "𝗢𝗕𝗝𝗘𝗖𝗧:𝗦𝗢𝗖𝗜𝗔𝗟", _ => "𝗖𝗹𝗮𝗶𝗺𝘀" })</div>
 
                    <OSIC.Shared.Layout.ui.scroll.Component>
                        <Content>
                            @switch (InfomationHandler.Software)
                            {
                                case Project.Software.OBJECTSOCIAL:
                                    switch (BindingConfigation.Language)
                                    {
                                        case OSIC.Shared.Project.Language.DA:
                                            <div class="slogan">Forbinder sammen.</div>
                                            break;
                                        default:
                                            <div class="slogan">Connecting together.</div>
                                            break;
                                    }
                                    break;
                                case Project.Software.InterConnecting:
                                    switch (BindingConfigation.Language)
                                    {
                                        case OSIC.Shared.Project.Language.DA:
                                            <div class="slogan">Fremtidens teknologi, fremtidens os.</div>
                                            break;
                                        default:
                                            <div class="slogan">Future tech, future us.</div>
                                            break;
                                    }
                                    break;
                                default:
                                    switch (BindingConfigation.Language)
                                    {
                                        case OSIC.Shared.Project.Language.DA:
                                            <div class="slogan">Foreningen.</div>
                                            break;
                                        default:
                                            <div class="slogan">Association.</div>
                                            break;
                                    }
                                break;
                            }
                            
                            <div class="browser">
                                <img src="/_content/OSIC.Shared.Layout/infomation/Chrome.png" />
                                <img src="/_content/OSIC.Shared.Layout/infomation/Edge.png" />
                                <img src="/_content/OSIC.Shared.Layout/infomation/Firefox.png" />
                                <img src="/_content/OSIC.Shared.Layout/infomation/Opera.png" />
                                <img src="/_content/OSIC.Shared.Layout/infomation/Safari.png" />
                            </div>
                            <div class="application">
                                <img src="/_content/OSIC.Shared.Layout/infomation/google-play-store.svg" />
                                <img src="/_content/OSIC.Shared.Layout/infomation/microsoft-store.svg" />
                                <img src="/_content/OSIC.Shared.Layout/infomation/appstore.svg" />
                            </div>
                            
                        </Content>
                    </OSIC.Shared.Layout.ui.scroll.Component>
                    @switch (new Random().Next(0,10))
                    {
                        case 1 or 3 or 8:
                            <div class="spaceman" data-type="1"></div>
                            break;
                        case 2 or 5 or 7:
                            <div class="spaceman" data-type="2"></div>
                            break;
                        default:
                            <div class="spaceman"></div>
                            break;
                    }
        </Content>
        </OSIC.Shared.Layout.ui.window.A4>
        </object>
     </Content>
</OSIC.Shared.Layout.frame.Component>
@code {
    protected override Task OnInitializedAsync()
    {
        InfomationHandler.Change += async () => await InvokeAsync(StateHasChanged);
        BindingConfigation.LanguageChange += async () => await InvokeAsync(StateHasChanged);
        return base.OnInitializedAsync();
    }
}
