@if (NetworkHandler.Status is Status.Online || _processData.Status is not process.Status.Done) return;
<div></div>
@code {
    private process.Data _processData => ProcessHandler.Get("OSIC.Shared.Layout.network.Handler");
    protected override Task OnInitializedAsync()
    {
        ProcessHandler.Change += async () => await this.InvokeAsync(this.StateHasChanged);
        NetworkHandler.Change += async () => await this.InvokeAsync(this.StateHasChanged);
        return base.OnInitializedAsync();
    }
}
